body{
    
    background-color: white;
    color: black;
    margin: auto;
   

}
header{
    background-color: blueviolet;
    margin: auto;
    
    
}


aside{
    background-color: burlywood;
    padding: 20px;
    margin: 2px;
    text-align: center;
    flex-direction: column;
    
    
}
footer{
    background-color: blueviolet;
}

.big-headline{
    padding: 20px;
    margin: 2px;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.main-content-articles{
    padding: 5px;
    margin: 2px;
    text-align: left;
    background-color:aqua;
    

}

main{
    display: flex;
    
}

.different{
    flex-direction: column;
    flex: 5;

}